
/* 상단 바 */

ul {
    list-style-type: none;
    position: sticky;
}

li{
    display: inline-block;
    padding: 0px 3% 0px 3%; /*위 오른쪽 아래 왼쪽*/
    text-align: center;
    font-size: 115%;
}


nav{
    width:50%;
    background-color: aqua;
    color:rgb(16, 15, 19);
    text-align: center;
    margin: 3% 0% 1% 25%;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(39, 39, 171);
}





/* 드랍다운 */

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display:block;
    background-color:#f9f9f9;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    text-align: left;
  }






  
  /* @import url(//fonts.googleapis.com/earlyaccess/hanna.css);
  body{
    font-family: 'Hanna';
  } */






/* 이미지 갤러리 */

  div.gallery {
    margin: 40px 0px 10% 4%; /*위, 오른쪽, 아래, 왼쪽 순*/
    border: 1px solid #ccc;
    float: left;
    width: 20%;
    height: 50%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
  }
  
  div.desc {
    padding: 12px;
    text-align: center;
  }